@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: grey;
  font-family: "Montserrat", sans-serif;
}
h1 {
  text-align: center;
  padding: 1rem;
  color: black;
}
h3 {
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;

  .forms {
    display: flex;
    flex-direction: column;

    h3,
    label {
      padding: 0.3rem;
      margin: 0.1rem;
    }
    .input {
      padding: 8px 10px 8px 30px;

      border-radius: 15px;
      //   width: 70%;
    }
  }
  .country-pcode {
    display: flex;
    gap: 0.5rem;

    .country {
      display: flex;
      flex-direction: column;
      select {
        padding: 0.4rem;
        border-radius: 10px;
      }
    }
    .postcode {
      @extend .country;
    }
  }
  .left-container {
    // border: solid red 2px;

    width: 40%;
    padding: 1rem;
    .button {
      display: flex;
      justify-content: flex-end;
      button {
        padding: 0.5rem;
        border-radius: 5px;
        border: none;
        color: whitesmoke;
        background-color: #f2994a;
      }
    }
  }
  .right-container {
    display: flex;
    flex-direction: column;
    // position: relative;
    // left: -150px;
    gap: 1rem;
    // border: 2px solid green;
    padding: 1rem;
    background-color: #eeeeee;
    width: 25%;
    height: 100%;
    border-radius: 10px;

    .section {
      display: flex;
      gap: 1rem;
      img {
        border-radius: 10px;
        height: 120px;
        // width: 100px;
      }
      .text-button {
        display: block;
        p {
          margin-top: 0.1rem;
        }
        .buttons {
          border: 1px solid grey;
          border-radius: 5px;
          display: flex;
          justify-content: space-evenly;
          padding: 0.1rem;
          width: 6rem;
          margin-top: 2.5rem;
          button {
            padding: 0.2rem;
            border: none;
            border-radius: 5px;
            background-color: #e0e0e0;
            color: black;
            font-weight: 300;
            font-size: large;
          }
          span {
            font-size: small;
            display: flex;
            align-items: center;
          }
        }
      }
    }

    .shipping {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.3rem;
    }
    .total {
      @extend .shipping;
    }
  }
  #reminder {
    margin: 0.5rem;
  }

  #colored {
    color: #f0a454;
  }
  #deleted {
    text-decoration: line-through;
    font-size: small;
  }

  i {
    position: relative;
    top: -26px;
    left: 8px;
  }
}
